# ==========================================
# 1. TELEGRAM AND ADMIN PANEL
# ==========================================
TG_BOT_TOKEN=1234567890:YOUR_BOT_TOKEN_HERE
ADMIN_ID=123456789
API_ID=12345678
API_HASH=your_api_hash_here

# ==========================================
# 2. GOOGLE GEMINI SETTINGS
# ==========================================
API_KEYS=YOUR_GEMINI_API_KEY_1,YOUR_GEMINI_API_KEY_2
MODEL_FALLBACK_LIST=gemini-3.1-flash-lite-preview,gemini-3-flash-preview,gemini-2.5-flash,gemini-2.5-flash-lite

# ==========================================
# 3. LANGUAGE AND TIMEZONE SETTINGS
# ==========================================
LANG_FILE=language_EN.json
TZ=Europe/London
